<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="padding card">
      <h4 class="text-center">A scrollable time picker for ionic framework applications</h4>

      <div class="padding-vertical">
        <h5 class="text-center">12-Hour Format</h5>
        <button class="button button-block button-positive overflowShow" ng-click="open12HourTimePicker()">
          Open 12 hour time picker
        </button>
      </div>

      <div class="padding-vertical">
        <h5 class="text-center">24-Hour Format</h5>
        <button class="button button-block button-positive overflowShow" ng-click="open24HourTimePicker()">
          Open 24 hour time picker
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
