<ion-view view-title="Repo">
  <ion-content class="padding">
    <div class="padding card">
      <ion-list>
        <ion-item>
          <a href="https://github.com/aspirewit/ionic-scrollable-time-picker" target="_blank">ionic-scrollable-time-picker</a>
        </ion-item>
        <ion-item>
          <a href="https://github.com/aspirewit/ionic-scrollable-time-picker-sample" target="_blank">ionic-scrollable-time-picker-sample</a>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
